@model Checkpoint1.Models.Appointment

@{
    ViewData["Title"] = "Appointments";
}

<h2>Appointments for @ViewData["ServiceProvider"]</h2>

<p>
    <a asp-controller="Appointment" asp-action="Create">Create New Appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ Appointment.Days day = (Appointment.Days)7; } @*Initialize day variable day outside range of Days enum.*@
        @foreach (var a in ViewData["ServiceProviderAppointments"] as List<Appointment>)
        {
            <tr>
                <td>
                    @*Display day only if it changes.*@
                    @{ if (a.Day != day)
                        {
                            <h3>@a.Day</h3>
                        }
                    }
                </td>
                <td>
                    <h3>@a.CustomerFullName at @a.Time</h3>
                </td>
            </tr>
            day = a.Day; @*Set day variable equal to current day.*@
        }
    </tbody>
</table>