@{
    ViewData["Title"] = "Baden Baden Baden";
}

<h1 style="color: darkblue; font-family: 'Mongolian Baiti';">Baden Baden Baden</h1>
<h4 style="color: darkgreen; font-family: 'Mongolian Baiti';">Spa & Resort</h4>