@{
    ViewData["Title"] = "Baden Baden Baden";
}

<h1 style="color: darkslategrey; font-family: 'Mongolian Baiti';">Baden Baden Baden</h1>
<h4 style="color: saddlebrown; font-weight: lighter; font-family: 'Mongolian Baiti';">Spa & Resort</h4>