@{
    ViewData["Title"] = "Baden Baden Baden";
}

<h1 style="color: seagreen; font-family: 'Mongolian Baiti';">Baden Baden Baden</h1>
<h3 style="color: rosybrown; font-weight: lighter; font-family: 'Mongolian Baiti';">Spa & Resort</h3>